<header>
    <nav class="nav"> 
        <h1 class="navTitle">Ecommerce</h1> 
        <ul class="navList">
            <li class="listItems">Productos</li>
        </ul>
        <div class="navButtons">
            <ul class="buttonList">
                <a href="/register"><li>Registrarse</li></a>
            </ul>
        </div>
    </nav>
</header>
<h2 class="title">Log In</h2>
<form class="loginForm" action="/login" method="post">
    <div class="formDiv">
        <label for="username">Ingrese su nombre de usuario</label>
        <input type="text" name="username" id="username" placeholder="Nombre de usuario...">
    </div>
    <div class="formDiv">
        <label for="password">Ingrese su contraseña</label>
        <input type="password" name="password" id="password" placeholder="Contraseña...">
    </div>
    <div class="formDiv">
        <button type="submit">INICIAR SESIÓN</button>        
    </div>
</form>