<header>
    <nav class="nav">
        <h1 class="navTitle">Ecommerce</h1> 
        <ul class="navList">
            <a href="/products"><li class="listItems">Productos</li></a>
            <a href="/carts"><li class="listItems">Carrito</li></a>
            <a href="/profile"><li class="listItems">Perfil</li></a>
        </ul>
        <div class="navButtons">
            <a href="/products/sell"><p>Vender un producto</p></a>
            <a href="/logout"><p class="logout">Cerrar Sesión</p></a>
        </div>
    </nav>
</header>
<h2 class="title">Productos</h2>
<div class="productsContainer">

</div>