<header>
    <nav class="nav">
        <h1 class="navTitle">Ecommerce</h1> 
        <ul class="navList">
            <a href="/products"><li class="listItems">Productos</li></a>
            <a href="/carts"><li class="listItems">Carrito</li></a>
            <a href="/profile"><li class="listItems">Perfil</li></a>
        </ul>
        <div class="navButtons">
            <a href="/logout"><p class="logout">Cerrar Sesión</p></a>
        </div>
    </nav>
</header>
<h2 class="title">Perfil</h2>
<p class="subtitle">¡Bienvenido {{this.user}}!</p>

<div class="prodsForSale">
    <p>Productos en venta</p>
</div>

<h3 class="historyTitle">Historial</h3>
<section class="historySection">
    <div class="historyPurchased">
        <p>Comprado</p>
    </div>
    <div class="historySold">
        <p>Vendido</p>
    </div>
</section>


