<header>
    <nav class="nav"> 
        <h1 class="navTitle">Ecommerce</h1> 
        <ul class="navList">
            <li class="listItems">Productos</li>
        </ul>
        <div class="navButtons">
            <ul class="buttonList">
                <a href="/login"><li>Iniciar Sesión</li></a>
            </ul>
        </div>
    </nav>
</header>
<h2 class="title">Registrate</h2>
<form class="registerForm" action="/register" method="post">
    <div class="formDiv">
        <label for="name">Ingrese su nombre</label>
        <input type="text" name="name" id="name" placeholder="Nombre...">
    </div>
    <div class="formDiv">
        <label for="surname">Ingrese su apellido</label>
        <input type="text" name="surname" id="surname" placeholder="Apellido...">
    </div>
    <div class="formDiv">
        <label for="email">Ingrese su email</label>
        <input type="text" name="email" id="email" placeholder="Email...">
    </div>
    <div class="formDiv">
        <label for="phone">Ingrese su número de teléfono</label>
        <input type="text" name="phone" id="phone" placeholder="Número de teléfono...">
    </div>
    <div class="formDiv">
        <label for="username">Ingrese el nombre de usuario que desea</label>
        <input type="text" name="username" id="username" placeholder="Nombre de usuario...">
    </div>
    <div class="formDiv">
        <label for="password">Ingrese su contraseña</label>
        <input type="password" name="password" id="password" placeholder="Contraseña...">
    </div>
    <div class="formDiv">
        <button type="submit">REGISTRARSE</button>        
    </div>
</form>