* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    background-color: rgb(157, 24, 24);
    padding: 2rem;
    text-transform: uppercase;
}

.navTitle {
    width: 30%;
}

.navList {
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.navButtons {
    width: 20%;
}

.buttonList {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logout {
    text-align: center;
}

.title {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}

.subtitle {
    text-align: center;
    text-transform: uppercase;
}

.loginForm {
    width: 60%;
    margin: 2rem auto;
}

.registerForm {
    width: 60%;
    margin: 2rem auto;
}

.sellForm {
    width: 60%;
    margin: 2rem auto;
}

.formDiv {
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.formDiv button {
    margin: 0 auto;
    width: 25%;
}

.prodsForSale {
    width: 80%;
    margin: 2rem auto;
    background-color: aqua;
}

.historyTitle {
    margin: 2rem;
    text-align: center;
}

.historySection {
    display: flex;
    text-align: center;
}

.historyPurchased {
    width: 50%;
}

.historySold {
    width: 50%;
}

/****************************************CHAT***********************************************/

.chatTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem auto;
    text-transform: uppercase;
}

.chatHr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 70%;
    margin: 0 auto;
}

.chatSubtitle {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}

.chatHistory {
    width: 70%;
    margin: 1rem auto;
    background-color: #9e9e9e;
    height: 500px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-y: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.chatMessageLine {
    width: 100%;
    margin: .5rem auto;
}

.email {
    color: #D90429;
    font-weight: bold;
}

.date {
    font-weight: bold;
}

.message {
    color: black
}


.chatForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 1rem auto;
    background-color: #9e9e9e;
    height: 4rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.chatForm input {
    width: 70%;
    height: 60%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.chatForm button {
    width: 15%;
    height: 60%;
    border: none;
    border-radius: 10px;
}

.productsTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem auto;
    text-transform: uppercase;
}

.productsHr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 70%;
    margin: 0 auto;
}

.productsSubtitle {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}

.productsForm {
    width: 65%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EF233C;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.productsForm label {
    align-self: start; 
    width: 75%;
    margin: 1rem auto;
    font-size: 1.2rem;
    text-decoration: underline;
}

.productsForm input {
    width: 75%;
    font-size: 1.2rem;
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.productsForm button {
    margin: 2rem auto;
    width: 40%;
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

#noData {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.productsTable {
    width: 65%;
    margin: 2rem auto;
    background-color: #EF233C;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.productsTableRow {
    text-transform: uppercase;
}

.productsTd {
    text-align: center;
    padding: 1rem;
}

.productsImage {
    width: 100px;
}

.noProducts {
    text-align: center;
    font-weight: bold;
}

#deleteBtn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #D90429;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.productsDeleteBtn:hover {
    cursor: pointer;
}